$color-primary: #34547A;
$color-additional: #EEEFF1;
$color-background: #E5E5E5;
$color-link: #1943EF;
$color-text: #727272;
$color-heading: #2F281E;
$color-light: #FFFFFF;
$color-hovered: #6580a0;

$content-width: 1150px;
$tablet-big-width: 1024px;
$tablet-width: 824px;
$mobile-big-width: 574px;
$mobile-small-width: 320px;