@import "../../abstract/constants";
@import "../../abstract/mixins";

.navigation {
  display: flex;
  @include font($size: 1.6rem, $height:2.6rem, $weight: 500);

  @include media-tablet {
    display: block;
    position: absolute;
    @include font($size: 2.0rem, $height: 2.8rem, $weight: 400);
    width: 100%;
    background: $color-light;
    padding: 35px 0;
    top: 50px;
    left: 0;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.05);
  }
  @include media-mobile {
    top: 40px;
  }
}

.navigation__link {
  list-style: none;
  padding: 0 40px;
  letter-spacing: 1px;
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: $color-hovered;
  }
  @include media-tablet {
    padding: 15px 0;
    text-align: center;
    &:last-child {
      padding-bottom: 30px;
    }
  }
  @include media-mobile {
    &:last-child {
      padding-bottom: 125px;
    }
  }
}